<ion-header>

  <ion-navbar>
    <ion-title>Add Coins</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-searchbar (ionInput)="searchCoins($event)"></ion-searchbar>

  <ion-list *ngIf="allcoins">
    <button ion-item *ngFor="let coin of objectKeys(allcoins)" (click)="addCoin(coin)" class="coinbtn" no-lines>
      <ion-avatar item-start *ngIf="allcoins">
        <img *ngIf="allcoins" [src]="'https://www.cryptocompare.com'+allcoins[coin].ImageUrl" />
      </ion-avatar>
      {{coin}} - {{ allcoins[coin].CoinName }}
      <ion-icon name="checkmark-circle" color="primary" item-end *ngIf="likedCoins.indexOf(coin) != '-1'" color="light"></ion-icon>
    </button>
  </ion-list>
</ion-content>
