<ion-header>

  <ion-navbar>
    <ion-title>Add Coins</ion-title>
  </ion-navbar>

  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="searchCoins($event)" (ionCancel)="onCancelSearch()"></ion-searchbar>
  </ion-toolbar>

</ion-header>


<ion-content>

  <ion-grid class="noResults" *ngIf="!filteredItems || filteredItems.length == 0">
    <ion-row>
      <ion-col text-center>
        <ion-card>
          <ion-card-header>
            <ion-icon name="search" class="notFound"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            Search the coin you are looking for! Hint: try BTC!
          </ion-card-content>
        </ion-card>        
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list *ngIf="filteredItems">
    <button ion-item *ngFor="let coin of objectKeys(filteredItems)" (click)="addCoin(coin)" class="coinbtn" no-lines>
      <ion-avatar item-start *ngIf="allcoins">
        <img *ngIf="allcoins" [src]="'https://www.cryptocompare.com'+allcoins[coin].ImageUrl" />
      </ion-avatar>
      {{coin}} - {{ allcoins[coin].CoinName }}
      <ion-icon name="checkmark-circle" color="primary" item-end *ngIf="likedCoins.indexOf(coin) != '-1'" color="light"></ion-icon>
    </button>
  </ion-list>
</ion-content>
